*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
header{
    width: 100%;
    height: 500px;
    background-color: red;
}

.top-header{
    width: 100%;
    height: 100px;
    background-color: blue;
}

.bottom-header{
    width: 100%;
    height: 400px;
    /* background-color: red; */
}
